# Database
MONGODB_URI=mongodb+srv://teamdev_user:6FYaILjp4Ss5cLVe@epicforge.e5c5nf6.mongodb.net/?retryWrites=true&w=majority&appName=Epicforge


# Server Configuration
PORT=5000
NODE_ENV=production

# Admin Email for Notifications
ADMIN_EMAIL=admin@epicforgesoftware.com

# WhatsApp Business API Configuration
VERIFY_TOKEN=ef_whatsapp_verify_123
WHATSAPP_ACCESS_TOKEN=EAALvY32FBKABPkBObgZCCVvMKAn9KqgPNpiBYDjLYKMlKmT9cVyCqpsBcOftlGDovjT7Hcfii5ZB9HtCsE7AvuUJIC4eQtcpghlAKno8cFun0LQ70wIqeLd6Br0YjAKrzQ0fTSOZBeJHZAKgK8Ok77peFvavLBm0PfPuCZBFFZA1BG0TAAYc07XEhrEsIruLauZCgZDZD
WHATSAPP_PHONE_NUMBER_ID=843183392210671
WHATSAPP_BUSINESS_ACCOUNT_ID=3099560526892888

# Render Configuration
RENDER_BASE_URL=https://epicforge-website-ui.onrender.com  